@font-face {
    font-family: "portalfont";
    src: url('\./portalfont.eot'),
    url('\./portalfont.woff') format('woff'),
    url('\./portalfont.ttf') format('truetype'),
    url('\./portalfont.svg#portalfont') format('svg');
}

.portalfont {
    font-family: "portalfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.portal-hmdgl:before {
    content: "\e600";
}

.portal-miaozhun:before {
    content: "\e641";
}

.portal-shishijiance:before {
    content: "\e631";
}

.portal-zdjccl:before {
    content: "\e601";
}

.portal-dianzigongdan:before {
    content: "\e633";
}

.portal-zhengcefabu:before {
    content: "\e634";
}

.portal-jggl2:before {
    content: "\e602";
}

.portal-hmdclgl:before {
    content: "\e604";
}

.portal-luduanfuwu:before {
    content: "\e635";
}

.portal-lwcx:before {
    content: "\e62b";
}

.portal-ltcjcgl:before {
    content: "\e605";
}

.portal-icon07:before {
    content: "\e636";
}

.portal-ysttfclgl:before {
    content: "\e607";
}

.portal-xiugaimima:before {
    content: "\e63f";
}

.portal-cxtj:before {
    content: "\e608";
}

.portal-tfclcx:before {
    content: "\e609";
}

.portal-security:before {
    content: "\e637";
}

.portal-jcsjgl:before {
    content: "\e60a";
}

.portal-luwangjiance:before {
    content: "\e632";
}

.portal-sdjc:before {
    content: "\e60b";
}

.portal-jkjk:before {
    content: "\e60c";
}

.portal-shujuwanzheng:before {
    content: "\e638";
}

.portal-jyjk:before {
    content: "\e60d";
}

.portal-yccldj:before {
    content: "\e60e";
}

.portal-pzgl:before {
    content: "\e60f";
}

.portal-sfjcgl:before {
    content: "\e610";
}

.portal-tubiao53:before {
    content: "\e639";
}

.portal-txxxzhcx:before {
    content: "\e611";
}

.portal-jkgl:before {
    content: "\e612";
}

.portal-liebiao:before {
    content: "\e62d";
}

.portal-ywkh:before {
    content: "\e614";
}

.portal-gxh:before {
    content: "\e62e";
}

.portal-084tuichu:before {
    content: "\e640";
}

.portal-ttfypyj:before {
    content: "\e617";
}

.portal-tongxunlu:before {
    content: "\e62c";
}

.portal-tcxt:before {
    content: "\e618";
}

.portal-jiqirencircle:before {
    content: "\e63b";
}

.portal-chaifen:before {
    content: "\e63a";
}

.portal-jcajzz:before {
    content: "\e61a";
}

.portal-zsk:before {
    content: "\e61b";
}

.portal-ltcgl:before {
    content: "\e61c";
}

.portal-flcx:before {
    content: "\e616";
}

.portal-ttffx:before {
    content: "\e61f";
}

.portal-czxxcx:before {
    content: "\e620";
}

.portal-rzxxcx:before {
    content: "\e621";
}

.portal-setup:before {
    content: "\e62f";
}

.portal-shebeijiankong:before {
    content: "\e63c";
}

.portal-sbxxcx:before {
    content: "\e622";
}

.portal-tjbb:before {
    content: "\e623";
}

.portal-ltc2:before {
    content: "\e630";
}

.portal-zjlgl:before {
    content: "\e624";
}

.portal-jiaoyichaifen:before {
    content: "\e63d";
}

.portal-sfzrcgl:before {
    content: "\e625";
}

.portal-znjc:before {
    content: "\e626";
}

.portal-heimingdanguanli:before {
    content: "\e603";
}

.portal-jichushujuguanli:before {
    content: "\e606";
}

.portal-jiekouguanli:before {
    content: "\e613";
}

.portal-lvtongcheguanli:before {
    content: "\e615";
}

.portal-shoufeijichaguanli:before {
    content: "\e619";
}

.portal-shoufeizhanrichang:before {
    content: "\e61d";
}

.portal-tongjibaobiao:before {
    content: "\e61e";
}

.portal-toutaofeifenxi:before {
    content: "\e627";
}

.portal-yewukaohe:before {
    content: "\e628";
}

.portal-zhishiku:before {
    content: "\e629";
}

.portal-piaozhengguanli:before {
    content: "\e62a";
}

.portal-shuju:before {
    content: "\e63e";
}